body {
    width: 55vw;
}
.cell {
    width: 5vw;
    height: 5vw;
    border: 1px solid black;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.black {
    background-color: black;
}