table{
    border-collapse: collapse;
   
    
}
td {
    
    height: 58px;
    width: 60px;
}
.black {
    border: 2px solid;
    
    background-color: rgb(120,120,120)
    
}
.white {
    border: 2px solid;
}
.op {
font-size: xx-large;
font-family: fantasy;
border:none;
text-align: center

    
    
}
#le {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -205px -45px;
}
#re {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -256px -45px;
}
#se {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -43px -45px;
}
#de {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -150px -45px;
}
#fe {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -97px -45px;
}
#bi {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: 12px 9px;
}
#si {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -96px 9px;
}
#ii {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -148px 9px;
}
#gi {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -43px 9px;
}
.peshw {
    background-image:url(../img/chess.png);
    background-repeat:no-repeat;
    width:40px;
    height:45px;
    background-position: -256px -45px;
}